<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ with .Site.Params.googleTagManager }}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ . }}" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager"></iframe></noscript>
    {{ end }}
    <a class="skip-link" href="#main">本文へスキップ</a>
    <div class="site-shell">
      {{ partial "header.html" . }}
      <main id="main" tabindex="-1">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    <script src="{{ printf "%s?v=%s" ("/js/nav.js" | relURL) (readFile "static/js/nav.js" | md5) }}" defer></script>
    {{ if .IsHome }}
    <script src="{{ printf "%s?v=%s" ("/js/carousel.js" | relURL) (readFile "static/js/carousel.js" | md5) }}" defer></script>
    {{ end }}
  </body>
</html>
