{{ if .IsHome }}
{{ $faq := slice }}
{{ range .Site.Data.site.faq }}
  {{ $faq = $faq | append (dict
    "@type" "Question"
    "name" .q
    "acceptedAnswer" (dict "@type" "Answer" "text" .a)
  ) }}
{{ end }}
{{ $graph := slice
  (dict
    "@type" "Organization"
    "name" .Site.Params.companyName
    "url" .Site.Params.companyURL
    "email" .Site.Params.contactEmail
    "logo" ("/images/brand/logo.png" | absURL)
  )
  (dict
    "@type" "WebSite"
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" .Site.Params.description
    "inLanguage" "ja"
    "publisher" (dict "@type" "Organization" "name" .Site.Params.companyName)
  )
  (dict
    "@type" "SoftwareApplication"
    "name" .Site.Params.productName
    "applicationCategory" "BusinessApplication"
    "operatingSystem" "Web"
    "description" .Site.Params.description
    "url" .Site.BaseURL
    "offers" (dict
      "@type" "Offer"
      "url" .Site.Params.paperformInquiry
      "priceCurrency" "JPY"
      "availability" "https://schema.org/InStock"
    )
  )
  (dict
    "@type" "FAQPage"
    "mainEntity" $faq
  )
}}
{{ printf `<script type="application/ld+json">%s</script>` (dict "@context" "https://schema.org" "@graph" $graph | jsonify) | safeHTML }}
{{ else if and (eq .Section "blog") .IsPage (not (strings.Contains (lower (string .Params.robots)) "noindex")) }}
{{ $post := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "description" (or .Description .Summary)
  "datePublished" (.Date.Format "2006-01-02")
  "dateModified" (.Lastmod.Format "2006-01-02")
  "mainEntityOfPage" .Permalink
  "author" (dict "@type" "Organization" "name" .Site.Params.companyName)
  "publisher" (dict
    "@type" "Organization"
    "name" .Site.Params.companyName
    "logo" (dict "@type" "ImageObject" "url" ("/images/brand/logo.png" | absURL))
  )
}}
{{ with or .Params.coverLocal .Params.cover }}
  {{ $post = merge $post (dict "image" (. | absURL)) }}
{{ end }}
{{ printf `<script type="application/ld+json">%s</script>` ($post | jsonify) | safeHTML }}
{{ $crumbs := dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" (slice
    (dict "@type" "ListItem" "position" 1 "name" "ホーム" "item" .Site.BaseURL)
    (dict "@type" "ListItem" "position" 2 "name" "Blog" "item" ("/blog/" | absURL))
    (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
  )
}}
{{ printf `<script type="application/ld+json">%s</script>` ($crumbs | jsonify) | safeHTML }}
{{ else if and (eq .Section "news") .IsPage }}
{{ $article := dict
  "@context" "https://schema.org"
  "@type" "NewsArticle"
  "headline" .Title
  "description" (or .Description .Summary)
  "datePublished" (.Date.Format "2006-01-02")
  "dateModified" (.Lastmod.Format "2006-01-02")
  "mainEntityOfPage" .Permalink
  "author" (dict "@type" "Organization" "name" .Site.Params.companyName)
  "publisher" (dict "@type" "Organization" "name" .Site.Params.companyName)
}}
{{ printf `<script type="application/ld+json">%s</script>` ($article | jsonify) | safeHTML }}
{{ $crumbs := dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" (slice
    (dict "@type" "ListItem" "position" 1 "name" "ホーム" "item" .Site.BaseURL)
    (dict "@type" "ListItem" "position" 2 "name" "お知らせ" "item" ("/news/" | absURL))
    (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
  )
}}
{{ printf `<script type="application/ld+json">%s</script>` ($crumbs | jsonify) | safeHTML }}
{{ else if and (not .IsHome) (ne .Kind "404") (ne .RelPermalink "/404.html") (not (strings.Contains (lower (string .Params.robots)) "noindex")) }}
{{ $crumbs := dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" (slice
    (dict "@type" "ListItem" "position" 1 "name" "ホーム" "item" .Site.BaseURL)
    (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink)
  )
}}
{{ printf `<script type="application/ld+json">%s</script>` ($crumbs | jsonify) | safeHTML }}
{{ end }}
